.form-gap {
  padding-top: 70px;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ff5f00;
}

.jumbotron {
  background-image: url(../../../assets/pet-sitters.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: absolute;
  right: 0px;
  height: 100%;
  margin-bottom: 0;
  padding: 0;
}
