<div class="container-contact100">
  <div class="wrap-contact100">
    <form #resetPassword="ngForm" class="contact100-form">
      <span class="contact100-form-title">
        Change your password
      </span>
      <div class="wrap-input100">
        <span style="color:grey">Old password *</span>
        <input
          type="password"
          name="oldPassword"
          class="form-control"
          [(ngModel)]="userInfo.oldPassword"
          placeholder="Enter your old password here..."
          id="oldPassword"
          #oldPassword="ngModel"
          required
        />
        <span
          style="text-align: justify; display:block;"
          *ngIf="oldPassword.errors?.required && oldPassword.touched"
          class="text-danger"
          >Old password is required</span
        >
      </div>
      <div class="wrap-input100">
        <span style="color:grey">New password *</span>
        <input
          type="password"
          name="newPassword"
          class="form-control"
          [(ngModel)]="userInfo.newPassword"
          placeholder="Enter your new password here..."
          id="newPassword"
          #newPassword="ngModel"
          required
          minlength="6"
        />
        <span
          style="text-align: justify; display:block;"
          *ngIf="newPassword.errors?.required && newPassword.touched"
          class="text-danger"
          >New password is required</span
        >
        <span style="text-align: justify; display:block;" *ngIf="newPassword.errors?.minlength" class="text-danger"
          >Password must be at least 6 characters</span
        >
      </div>
      <div class="wrap-input100">
        <span style="color:grey">Repeat password *</span>
        <input
          type="password"
          name="confirmNewPassword"
          class="form-control"
          [(ngModel)]="userInfo.confirmNewPassword"
          placeholder="Repeat new password here..."
          id="confirmNewPassword"
          #confirmNewPassword="ngModel"
          required
          minlength="6"
        />
        <span
          style="text-align: justify; display:block;"
          *ngIf="confirmNewPassword.errors?.required && confirmNewPassword.touched"
          class="text-danger"
          >Repeat password is required</span
        >
        <span style="text-align: justify; display:block;" *ngIf="confirmNewPassword.errors?.minlength" class="text-danger"
          >Password must be at least 6 characters</span
        >
      </div>
      <div class="container-contact100-form-btn">
        <button [disabled]="!resetPassword.valid" class="contact100-form-btn" type="submit" (click)="onChangePassword()">
          <span>
            Reset password
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
